
* {
    box-sizing: border-box;
    font-family: "Helvetica Neue";
}

.container {
    display: inline-grid;
    grid-template-columns: 1em 1fr 1fr 1em;
    grid-template-rows: 150px auto;
    width: 100%;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

div.coffee {
    width: 50%;
    height: 79.88px;
}

#title {
    grid-area: 1 / 2 / 2/ 4;
    text-align: center;
    margin-top: .8em;
    padding-bottom: 1.8em;
    border-bottom: solid 1px #F1F1F1;
}

#table {
    grid-area: 2 / 2 / 3/ 3;
    display: flex;
    border-top: solid 1px #F1F1F1;
}

#form {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}



.search {
    width: 100%;
}
